_site/
.sass-cache/
.jekyll-metadata
_pdf
.DS_Store
.idea
vendor/
.bundle/
.jekyll-cache
Gemfile.lock
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
_site/404.html
_site/feed.xml
_site/index.html
_site/tag_assignments.html
_site/tag_linux.html
_site/tag_news.html
_site/tag_python.html
_site/tag_resources.html
_site/tag_sql.html
_site/css/theme-blue.css
_site/images/calendar.png
_site/images/office_hours.png
_site/images/textbook.png
_site/pdfconfigs/config_mydoc_pdf.yml
css/theme-blue.css
pdfconfigs/config_mydoc_pdf.yml
