<div>
  <H2>Help Session Times</H2>

  {% include image.html file='office_hours.png' alt="Help Session icon" position="right" max-width=75 %}

  I am happy to meet in-person or via Zoom. The Zoom link will be in Canvas
  <ul>
    <li>Mondays from 9:00am to 10:00</li>
    <li><a href="https://outlook.office.com/bookwithme/user/0bd1687e44034e889ceca87e1df2e994@ufl.edu?anonymous&ep=plink">Book a time that works for you</a></li>
    <li>Email <a href="mailto:magitz@ufl.edu?subject=AI%20in%20Biology%20help%20request">Matt</a> to setup a different time</li>
  </ul>

</div>
