<div>
  <H2>Help Session Times</H2>

  {% include image.html file='office_hours.png' alt="Help Session icon" position="right" max-width=75 %}
  <H3>Matt Gitzendanner</H3>
  I will use Zoom for help sessions. Please see the link in Canvas.
  <ul>
    <li>Tuesdays from 8:30am - 9:30am</li>
    <li>Thursdays from 2:00pm to 3:00pm</li>
    <li>Email <a href="mailto:magitz@ufl.edu?subject=AI%20in%20Biology%20help%20request">Matt</a> to setup a different time</li>
  </ul>
  <H3>Brian Stucky</H3>
  I will hold office hours on Zoom. Please see the link in the course site on Canvas.
  <ul>
    <li>Mondays from 11:00 AM - 12:00 PM</li>
    <li>Tuesdays from 11:00 AM - 12:00 PM</li>
    <li>Email <a href="mailto:stuckyb@flmnh.ufl.edu?subject=AI%20in%20Biology%20help%20request">Brian</a> to setup a different time</li>
  </ul>
</div>
